In [1]:
print ("Hello, World!")

Hello, World!

In [2]:
print('Hello')

Hello

In [3]:
import sys
print(sys.version)

3.8.2 (tags/v3.8.2:7b3ab59, Feb 25 2020, 22:45:29) [MSC v.1916 32 bit (Intel)]

In [4]:
type(23)

int

In [5]:
type(True)

bool

In [6]:
type(3.343)

float

In [7]:
type("Hello")

str

In [8]:
type("1")

str

In [9]:
type('dnslkdnksd')

str

In [10]:
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [11]:
float(3)

3.0

In [12]:
type(float(3))

float

In [13]:
type(int("3"))

int

In [14]:
type(int("geg"))

ValueError: invalid literal for int() with base 10: 'geg'

In [15]:
type(float("23.33"))

float

In [16]:
str(3433242)

'3433242'

In [17]:
int(True)

1

In [18]:
bool(0)

False

In [19]:
float(True)

1.0

In [20]:
type(6/2)

float

In [21]:
type(6//3)

int

In [22]:
type(3434/453)

float

In [23]:
type(34542//3432)

int

In [24]:
73+77

150

In [25]:
160/60

2.6666666666666665

In [26]:
x=32+88

In [27]:
x

120

In [28]:
y=x/60

In [29]:
y

2.0

In [30]:
x=x+22

In [31]:
x

142

In [32]:
Name = "Los Angeles"
Name

'Los Angeles'

In [33]:
print(Name[0])

L

In [34]:
print(Name[7])

e

In [35]:
print(Name[-1])

s

In [36]:
print(Name[-11])

L

In [37]:
len(Name)

11

In [39]:
print(Name[len(Name)]-1)

IndexError: string index out of range

In [40]:
length=len(Name)

In [41]:
length

11

In [42]:
print(Name[length-1])

s

In [43]:
print(Name[0:7])

Los Ang

In [44]:
print(Name[7:10])

ele

In [45]:
print(Name[::2])

LsAgls

In [46]:
print(Name[0:9:2])

LsAgl

In [47]:
Sentence = Name + "is a great city"

In [48]:
Sentence

'Los Angelesis a great city'

In [49]:
Sentence = Name + " is a great city"
Sentence

'Los Angeles is a great city'

In [50]:
print("Los Angeles \nis a great city")

Los Angeles
is a great city

In [51]:
print("Los Angeles \tis a great city")

Los Angeles 	is a great city

In [52]:
print("Los Angeles \\is a great city")

Los Angeles \is a great city

In [53]:
print("Los Angeles \is a great city")

Los Angeles \is a great city

In [54]:
Sentence

'Los Angeles is a great city'

In [55]:
Sentence.upper()

'LOS ANGELES IS A GREAT CITY'

In [56]:
Sentence

'Los Angeles is a great city'

In [57]:
l_upper = Sentence.upper()
l_upper

'LOS ANGELES IS A GREAT CITY'

In [58]:
l_lower = l_upper.lower()

In [59]:
l_lower

'los angeles is a great city'

In [60]:
l_lower.replace('angeles','alamos')

'los alamos is a great city'

In [61]:
l_lower.find('los')

0

In [62]:
l_lower.find('is')

12

In [63]:
l_lower.find('losafda')

-1

In [64]:
tuple1 = ('disco',10,1.2)

In [65]:
tuple1

('disco', 10, 1.2)

In [66]:
type(tuple1)

tuple

In [68]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [69]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [71]:
tuple1[-1]

1.2

In [72]:
tuple2 = tuple1 + ('hard rock', 10)

In [73]:
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [74]:
tuple2[0:3]

('disco', 10, 1.2)

In [75]:
tuple2[3:5]

('hard rock', 10)

In [76]:
len(tuple2)

5

In [77]:
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [78]:
RatingsSorted = sorted(Ratings)

In [79]:
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [80]:
Ratings.sorted()

AttributeError: 'tuple' object has no attribute 'sorted'

In [81]:
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [83]:
print (NestedT[0])

1

In [84]:
print (NestedT[1])

2

In [86]:
print (NestedT[3])
print (NestedT[3][0])
print (NestedT[3][1])

(3, 4)
3
4

In [90]:
print (NestedT[2])
print (NestedT[2][0])
print (NestedT[2][1])
print (NestedT[2][1][0])
print (NestedT[2][1][3])

('pop', 'rock')
pop
rock
r
k

In [89]:
print (NestedT[4])
print (NestedT[4][0])
print (NestedT[4][1])
print (NestedT[4][1][0])
print (NestedT[4][1][1])

('disco', (1, 2))
disco
(1, 2)
1
2

In [91]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [92]:
L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [93]:
L[-1]

1982

In [94]:
l[-2]

NameError: name 'l' is not defined

In [95]:
L[-2]

10.1

In [96]:
L[-3]

'Michael Jackson'

In [97]:
L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [98]:
l=len(L)
print(L[l-2:l])

['MJ', 1]

In [99]:
L.extend(['pop', 10])
L

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10]

In [100]:
L.append(['pop',20])
L

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10, ['pop', 20]]

In [101]:
print(L[l-2:l])

['MJ', 1]

In [102]:
L

['Michael Jackson', 10.1, 1982, 'MJ', 1, 'pop', 10, ['pop', 20]]

In [103]:
L[0] = 'First Element'

In [104]:
L

['First Element', 10.1, 1982, 'MJ', 1, 'pop', 10, ['pop', 20]]

In [105]:
del(L[0])

In [106]:
L

[10.1, 1982, 'MJ', 1, 'pop', 10, ['pop', 20]]

In [107]:
"this is a sentence".split()

['this', 'is', 'a', 'sentence']

In [108]:
"comma,separated,values".split(',')

['comma', 'separated', 'values']

In [109]:
A = ['this', 'is', 'a', 'sentence']
B=A
B

['this', 'is', 'a', 'sentence']

In [110]:
A[0] = 'That'
A

['That', 'is', 'a', 'sentence']

In [111]:
B

['That', 'is', 'a', 'sentence']

In [112]:
B=A[:]
B

['That', 'is', 'a', 'sentence']

In [113]:
A[0] = 'This'
A
B

['That', 'is', 'a', 'sentence']

In [114]:
B

['That', 'is', 'a', 'sentence']

In [115]:
A

['This', 'is', 'a', 'sentence']

In [116]:
Dict = {"key1":1, "key2":"2", "key3":[3,3,3], "key4":(4,4,4), ('key5'):5, (0,1):6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [117]:
Dict["key1"]

1

In [118]:
Dict[key1]

NameError: name 'key1' is not defined

In [119]:
Dict[(0,1)]

6

In [120]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [121]:
release_year_dict['Bat Out of Hell']

'1977'

In [122]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [123]:
dict_keys

NameError: name 'dict_keys' is not defined

In [124]:
release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [125]:
release_year_dict['Graduation']='2007'

In [126]:
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [127]:
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])

In [128]:
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [129]:
'The Dark Side of the Moon' in release_year_dict

True

In [130]:
{'a':1, 'a':2}

{'a': 2}

In [131]:
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [132]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_list

['Michael Jackson',
 'Thriller',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

In [133]:
album_set = set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [134]:
A=set(["alpha","beta","gamma"])
A

{'alpha', 'beta', 'gamma'}

In [135]:
A.add("delta")
A

{'alpha', 'beta', 'delta', 'gamma'}

In [136]:
A.remove("alpha")
A

{'beta', 'delta', 'gamma'}

In [137]:
"ascdsdc" in A

False

In [138]:
"beta" in A

True

In [139]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [140]:
intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [142]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [143]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [145]:
album_set1 | album_set2

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [147]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [148]:
album_set1.issubset(album_set2)

False

In [149]:
album_set1.issuperset(album_set2)

False

In [150]:
set({'AC/DC', 'Back in Black'}).issubset(album_set2)

True

In [152]:
# If Statement

age=18

if age > 18:
    print("you can enter")
    
print("move on")

move on

In [156]:
age=34

if age > 18:
    print("you can enter")
else:
    print("Proceed to Meatloaf")
    
print("move on")

you can enter
move on

In [160]:
age = 3

if age > 18:
    print ("you can enter")
elif age == 18:
    print ("Go to Pink Floyd")
else:
    print ("Go to Meatloaf")

print ("move on")

Go to Meatloaf
move on

In [165]:
album_year = 1980

if (album_year > 1979) and (album_year  < 1990):
    print ("Condition satisfied")
else:
    print ("Condition not satisfied")

Condition satisfied

In [166]:
# Write your code below and press Shift+Enter to execute

rating = 8.5

if rating > 8:
    print ("This album is amazing!")

This album is amazing!

In [167]:
# Write your code below and press Shift+Enter to execute
rating = 7

if rating > 8:
    print ("This album is amazing!")
else:
    print ("This album is ok")

This album is ok

In [169]:
# Write your code below and press Shift+Enter to execute

album_year = 1977

if (album_year < 1980) or (album_year == 1991) or (album_year == 1993):
    print ("This album came out in ", album_year)
else:
    print ("This album never came out")

This album came out in  1977